# This is for keeping track of imported packages within blender
numba
scipy
open3d
matplotlib
PyQt5
trimesh
pandas

# This is to keep track of what other python packages were used and to reference
https://github.com/siavashk/pycpd